.idea/
.venv/
node_modules/
examples/data/
.DS_Store

# Intellij
.idea/

# Dummy Package
dummy-package/

.vscode/

examples/llama-index/frontend/rag-ui/
/examples/rag-ui/frontend/public/excel_sample.xlsx
