@import '../../../../lexio/lib/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  border: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --app-bar-height: 60px;
  --app-main-content-max-width: 1700px;
  --outer-padding: 40px;
}