name: Node.js CI
on:
  workflow_call:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20.x ]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './lexio/package.json'
    - name: Install dependencies
      working-directory: ./lexio
      run: npm ci
    - name: Type check
      working-directory: ./lexio
      run: npm run typecheck
    - name: Run tests
      working-directory: ./lexio
      run: npm test